body {
    font-family: monospace;
    color: #23d16a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    background: linear-gradient(to bottom, #062713 50%, #23d16a 40px);
    background-size: 100% 4px;
}

.computer {
    width: 55vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: #111;
}

.screen {
    flex: 1;
    padding: 70px;
    overflow-y: auto;
    background: linear-gradient(to bottom, #062713 50%, #23d16a 40px);
    background-size: 100% 4px;
    overflow: hidden;
}

#output {
    white-space: pre;
}

.input {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.prompt {
    font-size: 1.1em;
    margin-right: 5px;
}

input {
    font-family: monospace;
    border: none;
    background: transparent;
    color: #23d16a;
    width: 100%;
    font-size: 1em;
    outline: none;
}

.ascii-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}